body {
  background-color: #222;
  color: #eee;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 6px;
  color: #fff;
  flex-grow: 1;
  font-size: 1rem;
  height: 36px;
  line-height: 20px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
}

.btn.btn-gray {
  background-color: #353535;
}

.btn.btn-gray:hover {
  background-color: #2e2e2e;
}

.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb5bd;
  background-color: #212529;
  background-clip: padding-box;
  border: 1px solid #495057;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
